#elementoCirculo {
    position: relative;
  }
  
  #elementoMeioArco {
    position: relative;
  }
  
  #circulos {
    width: 11em;
    position: absolute;
    bottom: -15em;
    left: 0;
  }
  
  #meioArco {
    width: 11em;
    position: absolute;
    bottom: -15em;
    right: 0;
  }
  
  footer {
    background-color: var(--roxo-escuro);
    height: 8em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3em 0 3em;
    border-top: 1px solid var(--roxo-principal);
    margin-top: 15em;
  }

  #footerAgradecimento p {
    width: 7em;
  }
  
  #footerLogo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  
  #footerLogo img {
    width: 50px;
  }