#hero {
    width: 95%;
    display: flex;
    align-items: start;
    justify-content: left;
    /* height: 100vh; */
    /* padding-top: 8em; */
  }
  
  #heroTexto {
    text-align: left;
    margin: 3em 0 12.5em 3em;
    width: 90%;
  }
  
  #heroTexto h1 {
    font-size: 1.7em;
    font-style: italic;
    line-height: 1.5em;
  }
  
  #heroTexto p {
    /* width: 780px; */
    font-size: 1.15em;
    margin-top: 2.2em;
    line-height: 1.5em;
  }
  
  #heroImg2 {
    display: none;
  }
  
  #heroImg2 img {
    display: none;
  }
  
  #heroImg1 {
    position: absolute;
    left: 0;
    top: 9.5em;
  }
  
  #heroImg1 img {
    width: 1.25em;
  }